
header{
    grid-area: h ;
    background-color: deepskyblue;
    border-top: 1px white solid;
    height: 300px;
    background-size: cover;
    list-style: none;
    text-decoration: none;
    text-align: center;

    font-size: xx-large;
    font-weight: bolder;
}
header h1{
    padding: auto;
    margin:10%;

}
a:hover {
    background-color: orange;
}

nav {
    grid-area: n ;
}
nav ul{
    list-style:square ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
}
nav ul a{
    text-decoration: none;
    
}
article{
    grid-area: a ;
    float: left;
    list-style: square;
    text-align: justify;
    font-size: larger;
    font-weight: bold;

}
aside{
    grid-area: as ;
}
aside img{
    width: 100%;
}
article img{
    width: 100%;
}
footer{
    grid-area: f ;
    text-align: center;
}
main{
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10px;
    padding: 0;
    margin: 0;
    
    grid-template-areas:
    "h h"
    "n n"
    "as a"
    "f f";
    display: grid;
    width: 90%;
    max-width: 900px;
    margin: auto;
    background-color:  dodgerblue;
}
@media screen and (max-width:700px) {
    main{
        grid-template-areas: "h"
                             "n"
                             "as"
                             "a"
                             "f";
    }
    
}
